$\large{\textbf{1.1 Formulation:}} \\ \text{Let the set of warehouses be W={Ahmedabad, Bengaluru, Chennai, Delhi, Kolkata, Lucknow, Mumbai, Hyderabad} and }\\ \text{the set of Markets be M={Hassan, Jodhpur, Trichy, Simla, Vijayawada, Dibrugarh, Raipur, Agartala}.} \\ \text{Let } c_{w,m} \text{ be the cost of transporting 1 load truck of EVs from warehouse 'w' to market 'm'.} \\ \text{Let } x_{w,m} \text{ be the number of load truck of EVs that moves from warehouse 'w' to market 'm'.} \\ \text{The set consisting of the available stocks for the diff warehouses S = {350,185,305,180,205,175,325,370} and } S_w \text{ is the available stock at the wth warehouse.} \\ \text{The set consisting of the demands at the various markets D = {205,300,425,270,375,225,185,110} and } D_m \text{ is the demand of the mth market.} \\ min \ \sum_{(w,m) \in (W,M)} c_{w,m} x_{w,m} \\ s.t. \ \sum_{m \in M} x_{w,m} \leq S_w \  ∀ \ w \in W \\ \  \sum_{w \in W} x_{w,m} = D_m \  ∀ \ m \in M \\ x_{w,m} \in \mathbf{Z}^+\ \ \forall \  (w,m) \in (W,M)$

In [1]:
!pip install -q pyomo

     |████████████████████████████████| 9.7 MB 4.2 MB/s
     |████████████████████████████████| 49 kB 5.8 MB/s

In [2]:
from pyomo.environ import *

In [3]:
import pandas as pd

In [4]:
data_csvfile = pd.read_csv('lab6_ex1.csv')

In [5]:
data_csvfile

,WH_MARKETS,Hassan,Jodhpur,Trichy,Simla,Vijayawada,Dibrugarh,Raipur,Agartala,Avail.Stock
0,Ahmedabad,827,817,1470,2272,1615,3143,1264,4465,350
1,Bengaluru,559,1832,751,3772,637,3773,1856,5459,185
2,Chennai,1109,2443,577,3865,798,3521,1984,5303,305
3,Delhi,2943,1471,4676,1337,2702,2741,2482,4148,180
4,Kolkata,3742,3089,2931,3199,2226,1739,1691,2128,205
5,Lucknow,2353,1160,3295,368,2369,2365,1293,3642,175
6,Mumbai,1356,1617,2045,2941,2334,4151,1937,4287,325
7,Hyderabad,195,1862,1331,2921,402,2825,563,4441,370
8,Demand,205,300,425,270,375,225,185,110,2095

In [6]:
data_csvfile.index

RangeIndex(start=0, stop=9, step=1)

In [7]:
data_csvfile.columns

Index(['WH_MARKETS', 'Hassan', 'Jodhpur', 'Trichy', 'Simla', 'Vijayawada',
       'Dibrugarh', 'Raipur', 'Agartala', 'Avail.Stock'],
      dtype='object')

In [8]:
model_ex1 = ConcreteModel()

In [10]:
#No of source locations
M = len(data_csvfile.index)-1

#No of destinations
N = len(data_csvfile.columns)-2

print('No of sources = {}'.format(M))
print('No of destinations = {}'.format(N))

No of sources = 8
No of destinations = 8

In [11]:
row_indices = range(M)
col_indices = range(N)

In [12]:
model_ex1.x = Var(row_indices, col_indices, domain = NonNegativeIntegers)

In [14]:
model_ex1.obj = Objective(expr = sum(data_csvfile.iloc[i,j+1]*model_ex1.x[i,j] for i in row_indices for j in col_indices), sense = minimize)

In [15]:
model_ex1.const = ConstraintList()

In [16]:
#Supply COnstraints:
for i in row_indices:
  model_ex1.const.add(expr = sum(model_ex1.x[i,j] for j in col_indices) <= data_csvfile.iloc[i,-1])


#Demand Constraits:
for j in col_indices:
  model_ex1.const.add(expr = sum(model_ex1.x[i,j] for i in row_indices) == data_csvfile.iloc[-1,j+1])

In [17]:
model_ex1.pprint()

4 Set Declarations
    const_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   16 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
    x_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain              : Size : Members
        None :     2 : x_index_0*x_index_1 :   64 : {(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7)}
    x_index_0 : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    8 : {0, 1, 2, 3, 4, 5, 6, 7}
    x_index_1 : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    8 : {0, 1, 2, 3, 4, 5, 6, 7}

1 Var Declarations
    x : Size=64, Index=x_index
        Key    : Lower : Value : Upper : Fixed : Stale : Domain
        (0, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers

1 Objective Declarations
    obj : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : minimize : 827*x[0,0] + 817*x[0,1] + 1470*x[0,2] + 2272*x[0,3] + 1615*x[0,4] + 3143*x[0,5] + 1264*x[0,6] + 4465*x[0,7] + 559*x[1,0] + 1832*x[1,1] + 751*x[1,2] + 3772*x[1,3] + 637*x[1,4] + 3773*x[1,5] + 1856*x[1,6] + 5459*x[1,7] + 1109*x[2,0] + 2443*x[2,1] + 577*x[2,2] + 3865*x[2,3] + 798*x[2,4] + 3521*x[2,5] + 1984*x[2,6] + 5303*x[2,7] + 2943*x[3,0] + 1471*x[3,1] + 4676*x[3,2] + 1337*x[3,3] + 2702*x[3,4] + 2741*x[3,5] + 2482*x[3,6] + 4148*x[3,7] + 3742*x[4,0] + 3089*x[4,1] + 2931*x[4,2] + 3199*x[4,3] + 2226*x[4,4] + 1739*x[4,5] + 1691*x[4,6] + 2128*x[4,7] + 2353*x[5,0] + 1160*x[5,1] + 3295*x[5,2] + 368*x[5,3] + 2369*x[5,4] + 2365*x[5,5] + 1293*x[5,6] + 3642*x[5,7] + 1356*x[6,0] + 1617*x[6,1] + 2045*x[6,2] + 2941*x[6,3] + 2334*x[6,4] + 4151*x[6,5] + 1937*x[6,6] + 4287*x[6,7] + 195*x[7,0] + 1862*x[7,1] + 1331*x[7,2] + 2921*x[7,3] + 402*x[7,4] + 2825*x[7,5] + 563*x[7,6] + 4441*x[7,7]

1 Constraint Declarations
    const : Size=16, Index=const_index, Active=True
        Key : Lower : Body                                                                  : Upper : Active
          1 :  -Inf : x[0,0] + x[0,1] + x[0,2] + x[0,3] + x[0,4] + x[0,5] + x[0,6] + x[0,7] : 350.0 :   True
          2 :  -Inf : x[1,0] + x[1,1] + x[1,2] + x[1,3] + x[1,4] + x[1,5] + x[1,6] + x[1,7] : 185.0 :   True
          3 :  -Inf : x[2,0] + x[2,1] + x[2,2] + x[2,3] + x[2,4] + x[2,5] + x[2,6] + x[2,7] : 305.0 :   True
          4 :  -Inf : x[3,0] + x[3,1] + x[3,2] + x[3,3] + x[3,4] + x[3,5] + x[3,6] + x[3,7] : 180.0 :   True
          5 :  -Inf : x[4,0] + x[4,1] + x[4,2] + x[4,3] + x[4,4] + x[4,5] + x[4,6] + x[4,7] : 205.0 :   True
          6 :  -Inf : x[5,0] + x[5,1] + x[5,2] + x[5,3] + x[5,4] + x[5,5] + x[5,6] + x[5,7] : 175.0 :   True
          7 :  -Inf : x[6,0] + x[6,1] + x[6,2] + x[6,3] + x[6,4] + x[6,5] + x[6,6] + x[6,7] : 325.0 :   True
          8 :  -Inf : x[7,0] + x[7,1] + x[7,2] + x[7,3] + x[7,4] + x[7,5] + x[7,6] + x[7,7] : 370.0 :   True
          9 : 205.0 : x[0,0] + x[1,0] + x[2,0] + x[3,0] + x[4,0] + x[5,0] + x[6,0] + x[7,0] : 205.0 :   True
         10 : 300.0 : x[0,1] + x[1,1] + x[2,1] + x[3,1] + x[4,1] + x[5,1] + x[6,1] + x[7,1] : 300.0 :   True
         11 : 425.0 : x[0,2] + x[1,2] + x[2,2] + x[3,2] + x[4,2] + x[5,2] + x[6,2] + x[7,2] : 425.0 :   True
         12 : 270.0 : x[0,3] + x[1,3] + x[2,3] + x[3,3] + x[4,3] + x[5,3] + x[6,3] + x[7,3] : 270.0 :   True
         13 : 375.0 : x[0,4] + x[1,4] + x[2,4] + x[3,4] + x[4,4] + x[5,4] + x[6,4] + x[7,4] : 375.0 :   True
         14 : 225.0 : x[0,5] + x[1,5] + x[2,5] + x[3,5] + x[4,5] + x[5,5] + x[6,5] + x[7,5] : 225.0 :   True
         15 : 185.0 : x[0,6] + x[1,6] + x[2,6] + x[3,6] + x[4,6] + x[5,6] + x[6,6] + x[7,6] : 185.0 :   True
         16 : 110.0 : x[0,7] + x[1,7] + x[2,7] + x[3,7] + x[4,7] + x[5,7] + x[6,7] + x[7,7] : 110.0 :   True

7 Declarations: x_index_0 x_index_1 x_index x obj const_index const

In [18]:
!apt-get install -y -qq coinor-cbc

Selecting previously unselected package coinor-libcoinutils3v5.
(Reading database ... 155569 files and directories currently installed.)
Preparing to unpack .../0-coinor-libcoinutils3v5_2.10.14+repack1-1_amd64.deb ...
Unpacking coinor-libcoinutils3v5 (2.10.14+repack1-1) ...
Selecting previously unselected package coinor-libosi1v5.
Preparing to unpack .../1-coinor-libosi1v5_0.107.9+repack1-1_amd64.deb ...
Unpacking coinor-libosi1v5 (0.107.9+repack1-1) ...
Selecting previously unselected package coinor-libclp1.
Preparing to unpack .../2-coinor-libclp1_1.16.11+repack1-1_amd64.deb ...
Unpacking coinor-libclp1 (1.16.11+repack1-1) ...
Selecting previously unselected package coinor-libcgl1.
Preparing to unpack .../3-coinor-libcgl1_0.59.10+repack1-1_amd64.deb ...
Unpacking coinor-libcgl1 (0.59.10+repack1-1) ...
Selecting previously unselected package coinor-libcbc3.
Preparing to unpack .../4-coinor-libcbc3_2.9.9+repack1-1_amd64.deb ...
Unpacking coinor-libcbc3 (2.9.9+repack1-1) ...
Selecting previously unselected package coinor-cbc.
Preparing to unpack .../5-coinor-cbc_2.9.9+repack1-1_amd64.deb ...
Unpacking coinor-cbc (2.9.9+repack1-1) ...
Setting up coinor-libcoinutils3v5 (2.10.14+repack1-1) ...
Setting up coinor-libosi1v5 (0.107.9+repack1-1) ...
Setting up coinor-libclp1 (1.16.11+repack1-1) ...
Setting up coinor-libcgl1 (0.59.10+repack1-1) ...
Setting up coinor-libcbc3 (2.9.9+repack1-1) ...
Setting up coinor-cbc (2.9.9+repack1-1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.5) ...

In [19]:
opt_cbc = SolverFactory('cbc')

In [21]:
result = opt_cbc.solve(model_ex1)
print('Solver status:', result.solver.status)
print('Solver termination condition:',result.solver.termination_condition)

Solver status: ok
Solver termination condition: optimal

In [24]:
# display solution
print('\nObjective = ', model_ex1.obj())

print('\nDecision Variables')
for i in row_indices:
  for j in col_indices:
    if(model_ex1.x[i,j].value != 0):
      print('Number of truck loads between ',data_csvfile['WH_MARKETS'][i],' and ', data_csvfile.columns[j+1],':', model_ex1.x[i,j].value)

print('\nConstraints')
model_ex1.const.display()

Objective =  2192870.0

Decision Variables
Number of truck loads between  Ahmedabad  and  Jodhpur : 300.0
Number of truck loads between  Ahmedabad  and  Dibrugarh : 45.0
Number of truck loads between  Ahmedabad  and  Raipur : 5.0
Number of truck loads between  Bengaluru  and  Trichy : 120.0
Number of truck loads between  Bengaluru  and  Vijayawada : 65.0
Number of truck loads between  Chennai  and  Trichy : 305.0
Number of truck loads between  Delhi  and  Simla : 95.0
Number of truck loads between  Delhi  and  Dibrugarh : 85.0
Number of truck loads between  Kolkata  and  Dibrugarh : 95.0
Number of truck loads between  Kolkata  and  Agartala : 110.0
Number of truck loads between  Lucknow  and  Simla : 175.0
Number of truck loads between  Mumbai  and  Hassan : 205.0
Number of truck loads between  Mumbai  and  Raipur : 120.0
Number of truck loads between  Hyderabad  and  Vijayawada : 310.0
Number of truck loads between  Hyderabad  and  Raipur : 60.0

Constraints
const : Size=16
    Key : Lower : Body  : Upper
      1 :  None : 350.0 : 350.0
      2 :  None : 185.0 : 185.0
      3 :  None : 305.0 : 305.0
      4 :  None : 180.0 : 180.0
      5 :  None : 205.0 : 205.0
      6 :  None : 175.0 : 175.0
      7 :  None : 325.0 : 325.0
      8 :  None : 370.0 : 370.0
      9 : 205.0 : 205.0 : 205.0
     10 : 300.0 : 300.0 : 300.0
     11 : 425.0 : 425.0 : 425.0
     12 : 270.0 : 270.0 : 270.0
     13 : 375.0 : 375.0 : 375.0
     14 : 225.0 : 225.0 : 225.0
     15 : 185.0 : 185.0 : 185.0
     16 : 110.0 : 110.0 : 110.0

$\large{\textbf{Answer 1.7: }} \\ \text{Total Cost = Rs. 2192870} \\ \textbf{Number of truck loads of EVs:} \\ \text{Ahmedabad} → \text{Jodhpur  (300)} \\ \text{Ahmedabad} → \text{Dibrugarh  (45)} \\ \text{Ahmedabad} → \text{Raipur  (5)} \\ \text{Bengaluru} → \text{Trichy  (120)} \\ \text{Bengaluru} → \text{Vijayawada  (65)} \\ \text{Chennai} → \text{Trichy  (305)} \\ \text{Delhi} → \text{Simla  (95)} \\ \text{Delhi} → \text{Dibrugarh  (85)} \\ \text{Kolkata} → \text{Dibrugarh  (95)} \\ \text{Kolkata} → \text{Agartala  (110)} \\ \text{Lucknow} → \text{Simla  (175)} \\ \text{Mumbai} → \text{Hassan  (205)} \\ \text{Mumbai} → \text{Raipur  (120)} \\ \text{Hyderabad} → \text{Vijayawada  (310)} \\ \text{Hyderabad} → \text{Raipur  (60)}$

$\large{\textbf{Answer 1.8:}} \\ \text{To make sure, no transportation is done on Lucknow-Simla route, we assign a huge cost of transportation to the route.} \\ \text{So when the cost is to be minimized, by default no transportation will take place on that route.}$

In [25]:
data_csvfile.iloc[5,4] = 20000

In [26]:
data_csvfile

,WH_MARKETS,Hassan,Jodhpur,Trichy,Simla,Vijayawada,Dibrugarh,Raipur,Agartala,Avail.Stock
0,Ahmedabad,827,817,1470,2272,1615,3143,1264,4465,350
1,Bengaluru,559,1832,751,3772,637,3773,1856,5459,185
2,Chennai,1109,2443,577,3865,798,3521,1984,5303,305
3,Delhi,2943,1471,4676,1337,2702,2741,2482,4148,180
4,Kolkata,3742,3089,2931,3199,2226,1739,1691,2128,205
5,Lucknow,2353,1160,3295,20000,2369,2365,1293,3642,175
6,Mumbai,1356,1617,2045,2941,2334,4151,1937,4287,325
7,Hyderabad,195,1862,1331,2921,402,2825,563,4441,370
8,Demand,205,300,425,270,375,225,185,110,2095

In [27]:
model_ex1.new_obj = Objective(expr = sum(data_csvfile.iloc[i,j+1]*model_ex1.x[i,j] for i in row_indices for j in col_indices), sense = minimize)

In [30]:
model_ex1.obj.deactivate()

In [31]:
model_ex1.pprint()

4 Set Declarations
    const_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   16 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
    x_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain              : Size : Members
        None :     2 : x_index_0*x_index_1 :   64 : {(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7)}
    x_index_0 : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    8 : {0, 1, 2, 3, 4, 5, 6, 7}
    x_index_1 : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    8 : {0, 1, 2, 3, 4, 5, 6, 7}

1 Var Declarations
    x : Size=64, Index=x_index
        Key    : Lower : Value : Upper : Fixed : Stale : Domain
        (0, 0) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (0, 1) :     0 : 300.0 :  None : False : False : NonNegativeIntegers
        (0, 2) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (0, 3) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (0, 4) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (0, 5) :     0 :  45.0 :  None : False : False : NonNegativeIntegers
        (0, 6) :     0 :   5.0 :  None : False : False : NonNegativeIntegers
        (0, 7) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (1, 0) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (1, 1) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (1, 2) :     0 : 120.0 :  None : False : False : NonNegativeIntegers
        (1, 3) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (1, 4) :     0 :  65.0 :  None : False : False : NonNegativeIntegers
        (1, 5) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (1, 6) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (1, 7) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (2, 0) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (2, 1) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (2, 2) :     0 : 305.0 :  None : False : False : NonNegativeIntegers
        (2, 3) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (2, 4) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (2, 5) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (2, 6) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (2, 7) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (3, 0) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (3, 1) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (3, 2) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (3, 3) :     0 :  95.0 :  None : False : False : NonNegativeIntegers
        (3, 4) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (3, 5) :     0 :  85.0 :  None : False : False : NonNegativeIntegers
        (3, 6) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (3, 7) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (4, 0) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (4, 1) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (4, 2) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (4, 3) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (4, 4) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (4, 5) :     0 :  95.0 :  None : False : False : NonNegativeIntegers
        (4, 6) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (4, 7) :     0 : 110.0 :  None : False : False : NonNegativeIntegers
        (5, 0) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (5, 1) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (5, 2) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (5, 3) :     0 : 175.0 :  None : False : False : NonNegativeIntegers
        (5, 4) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (5, 5) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (5, 6) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (5, 7) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (6, 0) :     0 : 205.0 :  None : False : False : NonNegativeIntegers
        (6, 1) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (6, 2) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (6, 3) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (6, 4) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (6, 5) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (6, 6) :     0 : 120.0 :  None : False : False : NonNegativeIntegers
        (6, 7) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (7, 0) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (7, 1) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (7, 2) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (7, 3) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (7, 4) :     0 : 310.0 :  None : False : False : NonNegativeIntegers
        (7, 5) :     0 :   0.0 :  None : False : False : NonNegativeIntegers
        (7, 6) :     0 :  60.0 :  None : False : False : NonNegativeIntegers
        (7, 7) :     0 :   0.0 :  None : False : False : NonNegativeIntegers

2 Objective Declarations
    new_obj : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : minimize : 827*x[0,0] + 817*x[0,1] + 1470*x[0,2] + 2272*x[0,3] + 1615*x[0,4] + 3143*x[0,5] + 1264*x[0,6] + 4465*x[0,7] + 559*x[1,0] + 1832*x[1,1] + 751*x[1,2] + 3772*x[1,3] + 637*x[1,4] + 3773*x[1,5] + 1856*x[1,6] + 5459*x[1,7] + 1109*x[2,0] + 2443*x[2,1] + 577*x[2,2] + 3865*x[2,3] + 798*x[2,4] + 3521*x[2,5] + 1984*x[2,6] + 5303*x[2,7] + 2943*x[3,0] + 1471*x[3,1] + 4676*x[3,2] + 1337*x[3,3] + 2702*x[3,4] + 2741*x[3,5] + 2482*x[3,6] + 4148*x[3,7] + 3742*x[4,0] + 3089*x[4,1] + 2931*x[4,2] + 3199*x[4,3] + 2226*x[4,4] + 1739*x[4,5] + 1691*x[4,6] + 2128*x[4,7] + 2353*x[5,0] + 1160*x[5,1] + 3295*x[5,2] + 20000*x[5,3] + 2369*x[5,4] + 2365*x[5,5] + 1293*x[5,6] + 3642*x[5,7] + 1356*x[6,0] + 1617*x[6,1] + 2045*x[6,2] + 2941*x[6,3] + 2334*x[6,4] + 4151*x[6,5] + 1937*x[6,6] + 4287*x[6,7] + 195*x[7,0] + 1862*x[7,1] + 1331*x[7,2] + 2921*x[7,3] + 402*x[7,4] + 2825*x[7,5] + 563*x[7,6] + 4441*x[7,7]
    obj : Size=1, Index=None, Active=False
        Key  : Active : Sense    : Expression
        None :  False : minimize : 827*x[0,0] + 817*x[0,1] + 1470*x[0,2] + 2272*x[0,3] + 1615*x[0,4] + 3143*x[0,5] + 1264*x[0,6] + 4465*x[0,7] + 559*x[1,0] + 1832*x[1,1] + 751*x[1,2] + 3772*x[1,3] + 637*x[1,4] + 3773*x[1,5] + 1856*x[1,6] + 5459*x[1,7] + 1109*x[2,0] + 2443*x[2,1] + 577*x[2,2] + 3865*x[2,3] + 798*x[2,4] + 3521*x[2,5] + 1984*x[2,6] + 5303*x[2,7] + 2943*x[3,0] + 1471*x[3,1] + 4676*x[3,2] + 1337*x[3,3] + 2702*x[3,4] + 2741*x[3,5] + 2482*x[3,6] + 4148*x[3,7] + 3742*x[4,0] + 3089*x[4,1] + 2931*x[4,2] + 3199*x[4,3] + 2226*x[4,4] + 1739*x[4,5] + 1691*x[4,6] + 2128*x[4,7] + 2353*x[5,0] + 1160*x[5,1] + 3295*x[5,2] + 368*x[5,3] + 2369*x[5,4] + 2365*x[5,5] + 1293*x[5,6] + 3642*x[5,7] + 1356*x[6,0] + 1617*x[6,1] + 2045*x[6,2] + 2941*x[6,3] + 2334*x[6,4] + 4151*x[6,5] + 1937*x[6,6] + 4287*x[6,7] + 195*x[7,0] + 1862*x[7,1] + 1331*x[7,2] + 2921*x[7,3] + 402*x[7,4] + 2825*x[7,5] + 563*x[7,6] + 4441*x[7,7]

1 Constraint Declarations
    const : Size=16, Index=const_index, Active=True
        Key : Lower : Body                                                                  : Upper : Active
          1 :  -Inf : x[0,0] + x[0,1] + x[0,2] + x[0,3] + x[0,4] + x[0,5] + x[0,6] + x[0,7] : 350.0 :   True
          2 :  -Inf : x[1,0] + x[1,1] + x[1,2] + x[1,3] + x[1,4] + x[1,5] + x[1,6] + x[1,7] : 185.0 :   True
          3 :  -Inf : x[2,0] + x[2,1] + x[2,2] + x[2,3] + x[2,4] + x[2,5] + x[2,6] + x[2,7] : 305.0 :   True
          4 :  -Inf : x[3,0] + x[3,1] + x[3,2] + x[3,3] + x[3,4] + x[3,5] + x[3,6] + x[3,7] : 180.0 :   True
          5 :  -Inf : x[4,0] + x[4,1] + x[4,2] + x[4,3] + x[4,4] + x[4,5] + x[4,6] + x[4,7] : 205.0 :   True
          6 :  -Inf : x[5,0] + x[5,1] + x[5,2] + x[5,3] + x[5,4] + x[5,5] + x[5,6] + x[5,7] : 175.0 :   True
          7 :  -Inf : x[6,0] + x[6,1] + x[6,2] + x[6,3] + x[6,4] + x[6,5] + x[6,6] + x[6,7] : 325.0 :   True
          8 :  -Inf : x[7,0] + x[7,1] + x[7,2] + x[7,3] + x[7,4] + x[7,5] + x[7,6] + x[7,7] : 370.0 :   True
          9 : 205.0 : x[0,0] + x[1,0] + x[2,0] + x[3,0] + x[4,0] + x[5,0] + x[6,0] + x[7,0] : 205.0 :   True
         10 : 300.0 : x[0,1] + x[1,1] + x[2,1] + x[3,1] + x[4,1] + x[5,1] + x[6,1] + x[7,1] : 300.0 :   True
         11 : 425.0 : x[0,2] + x[1,2] + x[2,2] + x[3,2] + x[4,2] + x[5,2] + x[6,2] + x[7,2] : 425.0 :   True
         12 : 270.0 : x[0,3] + x[1,3] + x[2,3] + x[3,3] + x[4,3] + x[5,3] + x[6,3] + x[7,3] : 270.0 :   True
         13 : 375.0 : x[0,4] + x[1,4] + x[2,4] + x[3,4] + x[4,4] + x[5,4] + x[6,4] + x[7,4] : 375.0 :   True
         14 : 225.0 : x[0,5] + x[1,5] + x[2,5] + x[3,5] + x[4,5] + x[5,5] + x[6,5] + x[7,5] : 225.0 :   True
         15 : 185.0 : x[0,6] + x[1,6] + x[2,6] + x[3,6] + x[4,6] + x[5,6] + x[6,6] + x[7,6] : 185.0 :   True
         16 : 110.0 : x[0,7] + x[1,7] + x[2,7] + x[3,7] + x[4,7] + x[5,7] + x[6,7] + x[7,7] : 110.0 :   True

8 Declarations: x_index_0 x_index_1 x_index x obj const_index const new_obj

In [32]:
result = opt_cbc.solve(model_ex1)
print('Solver status:', result.solver.status)
print('Solver termination condition:',result.solver.termination_condition)

Solver status: ok
Solver termination condition: optimal

In [33]:
# display solution
print('\nObjective = ', model_ex1.obj())

print('\nDecision Variables')
for i in row_indices:
  for j in col_indices:
    if(model_ex1.x[i,j].value != 0):
      print('Number of truck loads between ',data_csvfile['WH_MARKETS'][i],' and ', data_csvfile.columns[j+1],':', model_ex1.x[i,j].value)

print('\nConstraints')
model_ex1.const.display()

Objective =  2380570.0

Decision Variables
Number of truck loads between  Ahmedabad  and  Jodhpur : 300.0
Number of truck loads between  Ahmedabad  and  Raipur : 50.0
Number of truck loads between  Bengaluru  and  Trichy : 120.0
Number of truck loads between  Bengaluru  and  Vijayawada : 65.0
Number of truck loads between  Chennai  and  Trichy : 305.0
Number of truck loads between  Delhi  and  Simla : 180.0
Number of truck loads between  Kolkata  and  Dibrugarh : 95.0
Number of truck loads between  Kolkata  and  Agartala : 110.0
Number of truck loads between  Lucknow  and  Dibrugarh : 130.0
Number of truck loads between  Lucknow  and  Raipur : 45.0
Number of truck loads between  Mumbai  and  Hassan : 205.0
Number of truck loads between  Mumbai  and  Simla : 90.0
Number of truck loads between  Mumbai  and  Raipur : 30.0
Number of truck loads between  Hyderabad  and  Vijayawada : 310.0
Number of truck loads between  Hyderabad  and  Raipur : 60.0

Constraints
const : Size=16
    Key : Lower : Body  : Upper
      1 :  None : 350.0 : 350.0
      2 :  None : 185.0 : 185.0
      3 :  None : 305.0 : 305.0
      4 :  None : 180.0 : 180.0
      5 :  None : 205.0 : 205.0
      6 :  None : 175.0 : 175.0
      7 :  None : 325.0 : 325.0
      8 :  None : 370.0 : 370.0
      9 : 205.0 : 205.0 : 205.0
     10 : 300.0 : 300.0 : 300.0
     11 : 425.0 : 425.0 : 425.0
     12 : 270.0 : 270.0 : 270.0
     13 : 375.0 : 375.0 : 375.0
     14 : 225.0 : 225.0 : 225.0
     15 : 185.0 : 185.0 : 185.0
     16 : 110.0 : 110.0 : 110.0

$\large{\textbf{Answer 1.9: }} \\ \text{Total Cost = Rs. 2380570} \\ \textbf{Number of truck loads of EVs:} \\ \text{Ahmedabad} → \text{Jodhpur  (300)} \\ \text{Ahmedabad} → \text{Raipur  (50)} \\ \text{Bengaluru} → \text{Trichy  (120)} \\ \text{Bengaluru} → \text{Vijayawada  (65)} \\ \text{Chennai} → \text{Trichy  (305)} \\ \text{Delhi} → \text{Simla  (180)} \\ \text{Kolkata} → \text{Dibrugarh  (95)} \\ \text{Kolkata} → \text{Agartala  (110)} \\ \text{Lucknow} → \text{Dibrugarh  (130)} \\ \text{Lucknow} → \text{Raipur  (45)} \\ \text{Mumbai} → \text{Hassan  (205)} \\ \text{Mumbai} → \text{Simla  (90)} \\ \text{Mumbai} → \text{Raipur  (30)} \\ \text{Hyderabad} → \text{Vijayawada  (310)} \\ \text{Hyderabad} → \text{Raipur  (60)} \\ \text{Here we can see that the total cost of operations increase when there was no transporation on the Lucknow-Simla route.}\\ \text{This is because in the ideal solution, minimum cost was attained when 175 trucks were moving from Lucknow to Simla,} \\ \text{but when we put a higher cost to the route, traffic was managed with different routes resulting in a comparitively higher cost.} $

$\large{\textbf{Answer 1.10:}}$

In [34]:
data_csvfile.iloc[4,6] = 20000
data_csvfile.iloc[3,7] = 20000

In [35]:
data_csvfile

,WH_MARKETS,Hassan,Jodhpur,Trichy,Simla,Vijayawada,Dibrugarh,Raipur,Agartala,Avail.Stock
0,Ahmedabad,827,817,1470,2272,1615,3143,1264,4465,350
1,Bengaluru,559,1832,751,3772,637,3773,1856,5459,185
2,Chennai,1109,2443,577,3865,798,3521,1984,5303,305
3,Delhi,2943,1471,4676,1337,2702,2741,20000,4148,180
4,Kolkata,3742,3089,2931,3199,2226,20000,1691,2128,205
5,Lucknow,2353,1160,3295,20000,2369,2365,1293,3642,175
6,Mumbai,1356,1617,2045,2941,2334,4151,1937,4287,325
7,Hyderabad,195,1862,1331,2921,402,2825,563,4441,370
8,Demand,205,300,425,270,375,225,185,110,2095

In [36]:
model_ex1.new_obj1 = Objective(expr = sum(data_csvfile.iloc[i,j+1]*model_ex1.x[i,j] for i in row_indices for j in col_indices), sense = minimize)

In [37]:
model_ex1.new_obj.deactivate()

In [38]:
result = opt_cbc.solve(model_ex1)
print('Solver status:', result.solver.status)
print('Solver termination condition:',result.solver.termination_condition)

Solver status: ok
Solver termination condition: optimal

In [39]:
# display solution
print('\nObjective = ', model_ex1.obj())

print('\nDecision Variables')
for i in row_indices:
  for j in col_indices:
    if(model_ex1.x[i,j].value != 0):
      print('Number of truck loads between ',data_csvfile['WH_MARKETS'][i],' and ', data_csvfile.columns[j+1],':', model_ex1.x[i,j].value)

print('\nConstraints')
model_ex1.const.display()

Objective =  2518200.0

Decision Variables
Number of truck loads between  Ahmedabad  and  Jodhpur : 300.0
Number of truck loads between  Ahmedabad  and  Dibrugarh : 50.0
Number of truck loads between  Bengaluru  and  Trichy : 120.0
Number of truck loads between  Bengaluru  and  Vijayawada : 65.0
Number of truck loads between  Chennai  and  Trichy : 305.0
Number of truck loads between  Delhi  and  Simla : 180.0
Number of truck loads between  Kolkata  and  Raipur : 95.0
Number of truck loads between  Kolkata  and  Agartala : 110.0
Number of truck loads between  Lucknow  and  Dibrugarh : 175.0
Number of truck loads between  Mumbai  and  Hassan : 205.0
Number of truck loads between  Mumbai  and  Simla : 90.0
Number of truck loads between  Mumbai  and  Raipur : 30.0
Number of truck loads between  Hyderabad  and  Vijayawada : 310.0
Number of truck loads between  Hyderabad  and  Raipur : 60.0

Constraints
const : Size=16
    Key : Lower : Body  : Upper
      1 :  None : 350.0 : 350.0
      2 :  None : 185.0 : 185.0
      3 :  None : 305.0 : 305.0
      4 :  None : 180.0 : 180.0
      5 :  None : 205.0 : 205.0
      6 :  None : 175.0 : 175.0
      7 :  None : 325.0 : 325.0
      8 :  None : 370.0 : 370.0
      9 : 205.0 : 205.0 : 205.0
     10 : 300.0 : 300.0 : 300.0
     11 : 425.0 : 425.0 : 425.0
     12 : 270.0 : 270.0 : 270.0
     13 : 375.0 : 375.0 : 375.0
     14 : 225.0 : 225.0 : 225.0
     15 : 185.0 : 185.0 : 185.0
     16 : 110.0 : 110.0 : 110.0

$\large{\textbf{Answer 1.11: }} \\ \text{Total Cost = Rs. 2518200} \\ \textbf{Number of truck loads of EVs:} \\ \text{Ahmedabad} → \text{Jodhpur  (300)} \\ \text{Ahmedabad} → \text{Dibrugarh  (50)} \\ \text{Bengaluru} → \text{Trichy  (120)} \\ \text{Bengaluru} → \text{Vijayawada  (65)} \\ \text{Chennai} → \text{Trichy  (305)} \\ \text{Delhi} → \text{Simla  (180)} \\ \text{Kolkata} → \text{Raipur  (95)} \\ \text{Kolkata} → \text{Agartala  (110)} \\ \text{Lucknow} → \text{Dibrugarh  (175)} \\ \text{Mumbai} → \text{Hassan  (205)} \\ \text{Mumbai} → \text{Simla  (90)} \\ \text{Mumbai} → \text{Raipur  (30)} \\ \text{Hyderabad} → \text{Vijayawada  (310)} \\ \text{Hyderabad} → \text{Raipur  (60)}\\ \text{Here also we can observe that the total cost of operations increase.}\\ \text{This is because in the ideal solution, while there was no transportation on the Delhi-Raipur route,} \\ \text{minimum cost was attained when 95 trucks were moving from Kolkata to Dibrugarh,} \\ \text{but when we put a higher cost to the route, traffic was managed with different routes resulting in a comparitively higher cost.}$